<div id="countygridcomponent">
    <ag-grid-angular countygrid
                     style="width: 100%; height: 100%"
                     class="ag-theme-alpine"
                     [columnDefs]="countyColumnDefs"
                     [defaultColDef]="defaultColDef"
                     [rowData]="rowData$ | async"
                     [rowSelection]="'multiple'"
                     [animateRows]="true"
                     (gridReady)="onCountyGridReady($event)"
    ></ag-grid-angular>
</div>
